extends common/_layout

block content
  h1= title
  p Welcome to #{title}
  - if(user)
    div
        |你好 #{user.id}号用户
  ul 
   - each err in error
     - if (err.sex == 1)
       li #{err.name}&nbsp;男
     - else
       li #{err.name}&nbsp;女	
