extends common/_layout
block navbar
    navDemo = 'active'
    include common/_navbar
block content
  h1= title
  p Welcome to #{title}
  if locals.user
    div
        |你好 #{locals.user.id}号用户
  ul 
   - each err in error
     - if (err.sex == 1)
       li #{err.email}&nbsp;男
     - else
       li #{err.email}&nbsp;女
