// Navbar start
navIndex = navIndex == null ? '' : 'active'
navBlog = navBlog == null ? '' : 'active'
navDemo = navDemo == null ? '' : 'active'
navSignup = navSignup == null ? '' : 'active'
navLogin = navLogin == null ? '' : 'active'
.navbar.navbar-fixed-top
    .navbar-inner
        .container
            a.brand(href="./") Snode
            .nav-collapse.collapse.pull-right
                ul.nav
                    li(class=navIndex)
                        a(href="./") 首页
                    li(class=navBlog)
                        a(href="./blog") blog
                    li
                        a(href="https://github.com/ChunMengLu/node_mysql_test", target="_blank") github
                    li(class=navDemo)
                        a(href="./demo") demo
                    li.divider-vertical
                    if locals.user
                        li.dropdown
                            a(href="#", class="dropdown-toggle", data-toggle="dropdown") #{locals.user.nick_name}
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href="./settings") 账号设置
                                li
                                    a(href="./logout") 退出
                                li.divider
                                li
                                    a(href="./faq") 帮助中心
                    else
                        li(class=navSignup)
                            a(href="./signup") 注册
                        li(class=navLogin)
                            a(href="./login") 登陆
// Navbar end
